<configuration>
  <appender name="$" class="ch.qos.logback.core.ConsoleAppender">
    <encoder><pattern>$ %msg%n</pattern></encoder>
  </appender>
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder><pattern>%5level %.10logger{10} - %msg%n</pattern></encoder>
  </appender>
  <logger name="$" level="INFO">
    <appender-ref ref="$"/>
  </logger>
  <logger name="io.qala" level="TRACE">
    <appender-ref ref="console"/>
  </logger>
</configuration>